numpy
pandas
matplotlib
tqdm
unidecode
pyspark >= 3.4.0
pyarrow
scikit-learn
luigi
google-api-python-client
google-auth
google-cloud-storage
opensearch-py
tiktoken
typer
contexttimer
sentence-transformers

# for downloading from google drive
gdown

# developer tools
jupyterlab
ruff
pre-commit
pytest
xmltodict
